alias ls="ls --color=auto"
alias grep="grep --colour=auto"
alias sudo="sudo -E"

alias minecontrol="javaws ~/.minecraft/Minecontrol.jnlp"
alias minecraft="java -jar ~/.minecraft/Minecraft.jar"
alias technic="java -jar ~/.technic/TechnicLauncher.jar"
alias fnetup="pkexec systemctl start openvpn@foosternet"
alias fnetdown="pkexec systemctl stop openvpn@foosternet"
alias virtup="pkexec systemctl start libvirtd && virt-manager"
alias virtdown="killall virt-manager && pkexec systemctl stop libvirtd"
