alias sudo="sudo -E"

alias minecraft="optirun java -jar ~/.minecraft/Minecraft.jar"
alias technic="optirun java -jar ~/.technic/TechnicLauncher.jar"
alias fnetup="pkexec systemctl start openvpn@foosternet"
alias fnetdown="pkexec systemctl stop openvpn@foosternet"
alias virtup="pkexec systemctl start libvirtd && virt-manager"
alias virtdown="killall virt-manager; pkexec systemctl stop libvirtd"
