[submodule ".config/nvim/plugged/lightline.vim"]
	path = .config/nvim/plugged/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule ".config/nvim/plugged/vim-easy-align"]
	path = .config/nvim/plugged/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule ".config/nvim/plugged/vim-plug"]
	path = .config/nvim/plugged/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule ".config/nvim/plugged/vim-interestingwords"]
	path = .config/nvim/plugged/vim-interestingwords
	url = https://github.com/lfv89/vim-interestingwords.git
[submodule ".config/nvim/plugged/jellybeans.vim"]
	path = .config/nvim/plugged/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule ".config/nvim/plugged/vim-better-whitespace"]
	path = .config/nvim/plugged/vim-better-whitespace
	url = https://github.com/ntpeters/vim-better-whitespace.git
[submodule ".config/nvim/plugged/vim-qml"]
	path = .config/nvim/plugged/vim-qml
	url = https://github.com/peterhoeg/vim-qml.git
[submodule ".config/nvim/plugged/vim-multiple-cursors"]
	path = .config/nvim/plugged/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule ".config/nvim/plugged/vim-abolish"]
	path = .config/nvim/plugged/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule ".config/nvim/plugged/vim-commentary"]
	path = .config/nvim/plugged/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".config/nvim/plugged/vim-eunuch"]
	path = .config/nvim/plugged/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule ".config/nvim/plugged/vim-fugitive"]
	path = .config/nvim/plugged/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".config/nvim/plugged/vim-repeat"]
	path = .config/nvim/plugged/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".config/nvim/plugged/vim-sleuth"]
	path = .config/nvim/plugged/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule ".config/nvim/plugged/vim-speeddating"]
	path = .config/nvim/plugged/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule ".config/nvim/plugged/vim-surround"]
	path = .config/nvim/plugged/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".config/nvim/plugged/vim-visual-increment"]
	path = .config/nvim/plugged/vim-visual-increment
	url = https://github.com/triglav/vim-visual-increment.git
[submodule ".config/nvim/plugged/vim-fish"]
	path = .config/nvim/plugged/vim-fish
	url = https://github.com/wilriker/vim-fish.git
[submodule ".config/nvim/plugged/vim-resolve"]
	path = .config/nvim/plugged/vim-resolve
	url = https://github.com/fkmclane/vim-resolve.git
[submodule ".config/nvim/plugged/hexmode"]
	path = .config/nvim/plugged/hexmode
	url = https://github.com/fidian/hexmode.git
[submodule ".config/nvim/plugged/vimwiki"]
	path = .config/nvim/plugged/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule ".tmux/plugins/tmux-sensible"]
	path = .tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule ".tmux/plugins/tmux-logging"]
	path = .tmux/plugins/tmux-logging
	url = https://github.com/tmux-plugins/tmux-logging.git
[submodule ".config/fisherman/docker-completion"]
	path = .config/fisherman/docker-completion
	url = https://github.com/fisherman/docker-completion.git
[submodule ".config/fisherman/await"]
	path = .config/fisherman/await
	url = https://github.com/fisherman/await.git
[submodule ".config/fisherman/done"]
	path = .config/fisherman/done
	url = https://github.com/fisherman/done.git
[submodule ".config/fisherman/fnm"]
	path = .config/fisherman/fnm
	url = https://github.com/fisherman/fnm.git
[submodule ".config/fisherman/get_file_age"]
	path = .config/fisherman/get_file_age
	url = https://github.com/fisherman/get_file_age.git
[submodule ".config/fisherman/getopts"]
	path = .config/fisherman/getopts
	url = https://github.com/fisherman/getopts.git
[submodule ".config/fisherman/humanize_duration"]
	path = .config/fisherman/humanize_duration
	url = https://github.com/fisherman/humanize_duration.git
[submodule ".config/fisherman/last_job_id"]
	path = .config/fisherman/last_job_id
	url = https://github.com/fisherman/last_job_id.git
[submodule ".config/fisherman/menu"]
	path = .config/fisherman/menu
	url = https://github.com/fisherman/menu.git
[submodule ".config/fisherman/spin"]
	path = .config/fisherman/spin
	url = https://github.com/fisherman/spin.git
[submodule ".config/fisherman/plugin-thefuck"]
	path = .config/fisherman/plugin-thefuck
	url = https://github.com/oh-my-fish/plugin-thefuck.git
[submodule ".config/nvim/plugged/vim-journal"]
	path = .config/nvim/plugged/vim-journal
	url = https://github.com/junegunn/vim-journal.git
[submodule ".config/nvim/plugged/vim-peekaboo"]
	path = .config/nvim/plugged/vim-peekaboo
	url = https://github.com/junegunn/vim-peekaboo.git
[submodule ".config/nvim/plugged/vim-slash"]
	path = .config/nvim/plugged/vim-slash
	url = https://github.com/junegunn/vim-slash.git
