[user]
	email = fkmclane@gmail.com
	name = Foster McLane
	signingkey = 38094AE4
[push]
	default = simple
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
[color]
	ui = auto
[alias]
	out = fire
	all = "!find . -name .git -type d -exec sh -c \"echo '{}' | sed -e 's#^\\./\\(.*\\)\\.git#\\1:#' && git -C '{}/..' pull --all --rebase && git -C '{}/..' submodule update --init --recursive && echo\" ';'"
	kill = "!sh -c 'git reset HEAD --hard && git clean -xdf'"
	subupd = submodule update --init
	subpull = submodule foreach git pull
	uppull = pull upstream master
