[Unit]
Description=Userspace Xbox 360 Controller driver (special config)

[Service]
BusName=org.seul.Xboxdrv
ExecStart=/usr/bin/xboxdrv --silent --daemon --config /etc/xboxdrv/%i.ini
KillSignal=SIGINT
# xboxdrv can not stop gracefully if controller gets unplugged
TimeoutStopSec=2

[Install]
WantedBy=multi-user.target
